[mpd]
music_dir = ~/music
host = localhost
password = SecretPass
port = 6600

[storage]
cache = ~/.config/bandcamp_tagplayer/cache

[songs]
ban_list = noise, jazz, experimental, canada, funk, psychedelic
