[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
args = "==0.1.0"
beautifulsoup4 = "==4.6.0"
blessed = "==1.14.2"
certifi = "==2017.4.17"
chardet = "==3.0.3"
clint = "==0.5.1"
idna = "==2.5"
lxml = "==3.8.0"
mutagen = "==1.38"
ply = "==3.10"
python-mpd2 = "==0.5.5"
requests = "==2.17.3"
unidecode = "==0.4.20"
urllib3 = "==1.21.1"
wcwidth = "==0.1.7"
