appdirs==1.4.2
args==0.1.0
beautifulsoup4==4.5.3
blessed==1.14.1
clint==0.5.1
docopt==0.6.2
lxml==3.7.3
mutagen==1.37
packaging==16.8
ply==3.10
pyparsing==2.1.10
python-mpd2==0.5.5
python-slugify==1.2.1
requests==2.13.0
six==1.10.0
slugify==0.0.1
Unidecode==0.4.20
wcwidth==0.1.7
youtube-dl==2017.2.27
